{% load static %}
<!-- {% load static %}で静的ファイルのパスを記述する。 -->
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<title>{{title}}</title>
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"crossorigin="anonymous">
	</head>

	<body>
		<h1>liblary</h1>
		<h1 class="display-4 text-primary mb-4">{{title}}</h1>
		<p class="h5">{{message}}</p>
		<ul>
		<h3>CTFで旗をとるための知識と技術<br /></h3>
		<li>{{tema1}}<br/></li>
		<li>{{tema2}}<br/></li>
		<li>{{tema3}}<br/></li>
		<li>{{tema4}}<br/></li>
		
		
		<p class="h6">{{next_page}}：<a href="{% url goto %}">{{goto}}</a></p>

		URL：<a href="{{site}}">googleにすべての教材が詰まっている</a>
		<form action="{% url goto %}" method="post">
	
	</body>
</html>
