{% load static %}
<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css"
        href="{% static 'app1/css/style.css' %}"/>
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>{{msg}}</p>
        <form action= "{% url 'forms' %}" method = "post"> <!--ここのフォーム使うとformのURLに飛びます-->    
            {% csrf_token %} <!--CSRF対策-->    
            <label for = "msg">ここに入力：</label> <!--入力項目ラベル-->    
            <input id = "msg" type="text" name ="msg"> <!--入力フォーム-->    
            <input type="submit" value="入力"> <!--ボタン-->    
        </form>
    </body>
</html>